<html>
<head>
  <meta charset = "utf-8">
  <title>Jqs7Bot</title>
</head>
<body>
<div id = "total" style = "height:500px;width:1200px"></div>
</body>
</html>
<script src = "//cdn.bootcss.com/echarts/2.2.7/echarts.js"></script>
<script src = "http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type = "text/javascript">
  require.config({
    paths: {
      echarts: '//cdn.bootcss.com/echarts/2.2.7'
    }
  });
  require(
          [
            'echarts',
            'echarts/chart/line',
          ],
          function (ec) {
            var total = ec.init(document.getElementById('total'));

            var total_option = {
              legend:{
                data:["日发言量","日活跃用户"]
              },
              tooltip: {
                show: true,
                formatter: function (params, ticket, callback) {
                  if (params['seriesName']=="日活跃用户"){
                    return params['name'] + '</br>' + "活跃用户量 : " + params['data']
                  }
                  if (params['data'] == "") {
                    params['data'] = "0"
                  }
                  var res = params['name'] + " : " + params['data'] + '</br></br>';
                  $.ajax({
                    url: "/rank/" + params['name']
                  }).done(function (data) {
                    console.log(data);
                    for (var i in data['rank']) {
                      var percent = Number(data['rank'][i]['percent']);
                      percent = percent.toFixed(2);
                      var name = data['rank'][i]['name']
                      var count = data['rank'][i]['count']
                      res += '<a href="/user/' + encodeURI(name) + '">' + name + '</a>' +
                              " : " + count + "/" + percent + '%</br>';
                    }
                    callback(ticket, res);
                  });
                  return 'loading';
                },
                hideDelay: 9999
              },
              yAxis: [{
                type: "value",
                scale: true
              },{}],
              xAxis: [
                {
                  data: [{{range $element := .total}}{{with $element}}{{.date.Format "2006-01-02"}},{{end}}{{end}}]
                }
              ],
              series: [
                {
                  "name": "日发言量",
                  "type": "line",

                  "data": [{{range $element := .total}}{{with $element}}{{.total}},{{end}}{{end}}]
                },
                {
                  "name": "日活跃用户",
                  "type": "line",
                  "yAxisIndex":1,
                  "data": [{{range $element := .users}}{{with $element}}{{.userCount}},{{end}}{{end}}]
                }
              ]
            };
            total.setOption(total_option);
          }
  );
</script>
</script>
