<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Jqs7Bot</title>
</head>
<body >
  <div align="center">
    <div id="search" align="center" class="item" style="margin-bottom:10px;margin-top:20px;height:90px;width:1200px">
      <h1 style="color: #3C3C3C">群组娘第二舰队活动图</h1>
      <div class="ui icon input">
        <input id="user" type="text" placeholder="UserName...">
        <i id="us" class="search link icon"></i>
      </div>
    </div>
  </div>
  <div align="center">
    <div class="ui" id="total" style="height:500px;width:1200px"></div>
  </div>
  <div align="center" id="main">
    <div class="ui" id="pie" style="height:500px;width:1200px"></div>
  </div>
</body>
</html>
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<link href="//cdn.bootcss.com/semantic-ui/2.1.3/semantic.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/echarts/2.2.7/echarts.js"></script>
<script src="footer.js"></script>
<script type="text/javascript">
  var data1 = new Array;
  var data2 = [0,1200];
    function piedata(value,name){
      var pie = new Object;
      pie.value = value;
      pie.name = name;
      return pie;
    }
  require.config({
    paths: {
      echarts: '//cdn.bootcss.com/echarts/2.2.7'
    }
  });
  require(
          [
            'echarts',
            'zrender',
            'echarts/config',
            'zrender/config',
            'echarts/chart/pie',
            'echarts/chart/line'
          ],
          function (ec) {
            var total = ec.init(document.getElementById('total'));
            var pie = ec.init(document.getElementById('pie'));
            var user;
            $("#pie").hide();
            $("#user").keyup(function () {
              if (event.keyCode == 13) {
                user = localStorage.user = $("#user").val();
                window.location.href = '/user/@' + user;
              }
            });
            $("#us").click(function () {
              user = localStorage.user = $("#user").val();
              window.location.href = '/user/@'+user;
            });

            var total_option = {
              legend:{
                data:["日发言量","日活跃用户"]
              },
              tooltip: {
                show: true,
                position:function(p){
                  return [p[0],p[1]+50]
                },
                formatter: function (params, ticket, callback) {
                  //return [params[0] + 10, params[1] - 10]
                  if (params['seriesName']=="日活跃用户"){
                    if ($.inArray(params['name'],["avg","min","max"]) != -1){
                      return '<div class="ui blue label">'+params['name']+ '</div></br>'+ params['data']['value']+'</br>';
                    }
                    return '<div class="ui blue label">'+params['name']+ '</div></br>'+ params['data']+'</br>';
                  }
                  if (params['data'] == "") {
                    params['data'] = "0"
                  }
                  if ($.inArray(params['name'],["avg","min","max"]) != -1){
                    return '<div class="ui blue label">'+params['name']+ '</div></br>'+ params['data']['value']+'</br>';
                  }
                  var res = '<div style="margin-bottom:10px"><div class="ui blue label" style="margin-right:10px">' +
                      params['name'] + '</div><div class="ui blue label">' + params['data'] + '</div></div>';
                  var sum = 0;
                  $.ajax({
                    url: "/test/" + params['name']
                  }).done(function (data) {
                    for (var i in data['rank']) {
                      var percent = Number(data['rank'][i]['percent']);
                      percent = percent.toFixed(2);
                      var name = data['rank'][i]['name'];
                      var count = data['rank'][i]['count'];
                      var len = data['rank'].length;
                      var other = params['data'];
                      if (params['seriesName'] == "日发言量" && params['data'] != Object && $.inArray(params['name'], ["avg", "min", "max"]) == -1) {
                        data1[i] = piedata(count, name);
                        sum += data['rank'][i]['count'];
                        len--;
                        if (i == len) {
                          other = other - sum;
                          i++;
                          data1[i] = piedata(other, '其他');
                          //console.log(data1);
                        }
                      }

                      res += '<div style="margin-bottom:3px"><div class="ui circular pink label"><a href="/user/' +
                              encodeURI(name) + '">' + name + '</a></div>' +
                              '<div class="ui circular yellow label">' + count +
                              '</div><div class="ui circular violet label">' + percent + '%</div></div>';
                    }
                    callback(ticket, res);
                  });
                  return 'loading';
                },
                hideDelay: 3000
              },
              calculable : true,
              yAxis: [{},{
                scale: true
              }],
              xAxis: [
                {
                  data: [{{range $element := .total}}{{with $element}}{{.date.Format "2006-01-02"}},{{end}}{{end}}]
                }
              ],
              series: [
                {
                  name: "日发言量",
                  type: "line",
                  yAxisIndex:0,
                  smooth: true,
                  data: [{{range $element := .total}}{{with $element}}{{.total}},{{end}}{{end}}],
                  markPoint: {
                    data: [
                      {type: 'max',name: 'max'},
                      {type: 'min',name: 'min'},
                    ]
                  }
                },
                {
                  name: "日活跃用户",
                  type: "line",
                  yAxisIndex:1,
                  smooth: true,
                  data: [{{range $element := .users}}{{with $element}}{{.userCount}},{{end}}{{end}}],
                  markLine: {
                    data: [
                      {type: 'average', name: 'avg'}
                    ]
                  },
                  markPoint:{
                    data: [
                      {type: 'max',name:'max'},
                      {type: 'min',name:'min'}
                    ]
                  }
                }
              ]
            };
          total.setOption(total_option);
          total.on('click',
          function eConsole(param){
            $("#pie").show();
            console.log(data1);
                var click_option = {
                  tooltip:{
                    show :true,
                    formatter: function (params){
                      return '<div class="ui blue label">'+params['name']+ '</div></br>'+ params['data']['value']+'</br>'
                    }
                  },
                  series: [
                    {
                      name: "日活跃用户",
                      type: "pie",
                      smooth: true,
                      center: [ '50%' , '60%'],
                      radius: '55%',
                      boundaryGap : true,
                      data:data1
                    }
                  ]
                };
            //console.log(click_option);
                pie.setOption(click_option);
            console.log(param);
          }
  );
  }
  );

</script>
